:root {
      --bs-blue: #0d6efd;
     --bs-indigo: #6610f2;
     --bs-purple: #6f42c1;
     --bs-pink: #d63384;
     --bs-red: #dc3545;
     --bs-orange: #fd7e14;
     --bs-yellow: rgb(255, 153, 0);
     --bs-green: #198754;
     --bs-teal: #20c997;
     --bs-cyan: #0dcaf0;
     --bs-white: #fff;
     --bs-gray: #6c757d;
     --bs-gray-dark: #343a40;
     --bs-gray-100: #f8f9fa;
     --bs-gray-200: #e9ecef;
     --bs-gray-300: #dee2e6;
     --bs-gray-400: #ced4da;
     --bs-gray-500: #adb5bd;
     --bs-gray-600: #6c757d;
     --bs-gray-700: #495057;
     --bs-gray-800: #343a40;
     --bs-gray-900: #212529;
     --bs-primary: #EC4F21;
     --bs-secondary: #707070;
     --bs-success: #198754;
     --bs-info: #0dcaf0;
     --bs-warning: #ffc107;
     --bs-danger: #dc3545;
     --bs-light: #f8f9fa;
     --bs-dark: #212529;
     --bs-primary-rgb: 236, 79, 33;
     --bs-secondary-rgb: 245, 245, 245;
     --bs-success-rgb: 25,135,84;
     --bs-info-rgb: 244, 153, 127;
     --bs-warning-rgb: 243, 243, 243;
     --bs-danger-rgb: 255,0,0;
     --bs-light-rgb: 248,249,250;
     --bs-dark-rgb: 26,26,26;
     --bs-white-rgb: 255,255,255;
     --bs-black-rgb: 0,0,0;
     --bs-body-color-rgb: 33,37,41;
     --bs-body-bg-rgb: 255,255,255;
     --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
     --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
     --bs-body-font-family: var(--bs-font-sans-serif);
     --bs-body-font-size: 1rem;
     --bs-body-font-weight: 400;
     --bs-body-line-height: 1.5;
     --bs-body-color: #212529;
     --bs-body-bg: #fff;
     --a-color-hover-1: rgb(34, 188, 238);
     --a-color-hover-2: rgb(255,102,0);
     --a-color-hover-3: rgb(192, 168, 132);
     --a-color-1: white;
     --a-color-2: rgba(0,0,0,0);
     --a-color-3: rgba(0,0,0,0);
     --color-combination-9: #00141e;
     --color-support-1: #001e28;
     --color-support-2: #999;
     --color-secondary-3: #0f2d37;
     --color-secondary-1: #00141e;
     --color-combination-9: #001e28;
     --color-combination-8: #0f2d37;
     --bg-green: #96D036;
     --input-bg: #8AB73C;
     --bg-grey: #f5f5f5;
     --bg-grey-1: #e3e3e3;
     --bg-grey-2: #c4c5c5;
     --bg-sv: #121321;
     --bg-sv-1: #181a2a;
     --color-contact: #F4574C;
     --btn-yellow: #ffc000;
     --bg-footer: #181a2a;
     --bg-cool-1: #59cca6;
     --bg-cool-2: #91ad41;
     --bg-cool-3: #e3b375;
     --bg-cool-4: #ef7f94;
     --bg-cool-5: #f5f6fb;
     --bg-cool-btn: #27272f;
     --cool-text: #8b8b99;
     --cool-text-bg: #91ad41;
     --text: #707070;
     --lg-bg: #f2f7f8;
     --lg-bg-2: #19B7F9;
     --lg-footer: #1c2f3c;
     --input: #f2f7f8;
     --bg-res: #f7f4ef;
     --res-text: #fec200;
     --res-footer: #181818;
     --poco-footer: #24272e;
     --poco-text: #8b8e96;
     --poco-btn: #eb3e32;
     --pc-lh: #f7f7f7;
     --pc-btn-1: #FFB416;
     --pc-tab: #ED4E2E;
     --pc-tab-1: #EAEDF1;
     --pc-text: #98A5C6;
     --pc-text-1: #F07532;
     --us-bg-1: #00c3ba;
     --us-bg-2: #4582ff;
     --us-bg-3: #f90;
     --nt-text: #252525;
     --nt-text-1: #888888;

}

p{
   margin-bottom: 0 !important;
}
body{
   font-family: 'Exo', sans-serif;
}
a{
   text-decoration: none;
   color: #000;
}

/*-------------------------------------------*/
.px-6{
   padding-left: 12rem !important;
   padding-right: 12rem !important;
}
.fs-7{
   font-size: 13px;
}
.textHoverColor:hover{
   color: var(--bs-primary) !important;
   transition: all 0.3s ease !important;
   cursor: pointer;
}
.border-primary{
   border-color: var(--bs-primary) !important;
}
.btn-primary{
   background-color: #F5F5F5;
   color : #000;
   border : none;
   position: relative;
   z-index: 2;
   transition: all 0.3s ease;
   border-radius: 0.4rem;
}
.btn-primary.active{
  background-color: var(--bs-primary);
   color : #fff;
}
.btn-primary:active{
  background-color: var(--bs-primary);
   color : #fff;
}
.btn-primary:focus{
     background-color: #F5F5F5;

      color : #000;

   box-shadow: none;
}
.btn-primary:hover{
   background-color: #F5F5F5;
   color : #fff;

}
.btn-primary:after{
   background-color: var(--bs-primary);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transform: scaleY(0);
   content: "";
   position: absolute;
   z-index: -1;
   transition: all 0.3s ease;
   border-radius: 0.4rem;

}
.btn-primary:hover:after{
   transform: scaleY(1);
}
@media screen and (max-width : 996px){
    .px-6{
      padding-left: 8rem !important;
      padding-right: 8rem !important;
   }
}
@media screen and (max-width : 768px){
    .px-6{
      padding-left: 2rem !important;
      padding-right: 2rem !important;
   }
}

@media screen and (max-width : 395px){
   .px-6{
         padding-left: 0.2rem !important;
         padding-right: 0.2rem !important;
   }  
}

/* HEADER */
.header__item{
   cursor: pointer;
   position: relative;
}
.header__search{
   width: 33vw;
}
.navbar-toggler:focus{
   box-shadow: none !important;
}
.dropdown-menu {
   position: absolute !important;
    inset: 0px auto auto 0px !important;
    margin: 0px !important;
   margin-top: 3.3rem !important;
   }
@media screen  and (max-width : 995px){
   .header__search{
      width: fit-content;
      border: none !important;
   }
   .header__search > i {
      color: #000 !important;
   }
}
/* HEADER */

/* HOME */
.catalogy__item{
   transition: all 0.5s ease;
}
.catalogy__item:hover{
   cursor: pointer;
   transform: translateY(-4px);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.catalogy__item:hover > p {
   color: var(--bs-primary);
   transition: all 0.3s ease;
}
.scaleImg{
   position: relative;
   cursor: pointer;
   overflow: hidden;
}
.scaleImg:after{
   content: "";
   position: absolute;
   left: -100%;
   top: -100%;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   transform: scale(0);
}
.scaleImg:hover:after{
   transform: scale(1);
   transition: all 0.3s ease;
   top: 0;
   left: 0;
}
.scaleImg:before{
   content: "";
   position: absolute;
   right: -100%;
   bottom: -100%;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   transform: scale(0);
}
.scaleImg:hover:before{
   transform: scale(1);
   transition: all 0.3s ease;
   right: 0;
   bottom: 0;
}

.card:hover{
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: all 0.5s ease;
}
.card-title{
   overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: unset;
}
.furniture__item{
   cursor: pointer;
}
.furniture__item img{
   transition: all 0.3s ease;
}
.furniture__item:hover img{
   transform: scale(1.1);
}
.signup__form{
   width: 50%;
}
@media screen and (max-width:395px){
   .signup__form{
      width: 80%;
   }
}
/* HOME */

/* FAQ */

.faq__item > p{
   transition: all 0.3s ease;

}
.faq__item:hover > p{
   margin-left: 1rem;
   position: relative;

}
.faq__item > p:after{
   content: "-";
   position: absolute;
   top: 50%;
   left: -1rem;
   transform: translateY(-55%);
   font-size: 1.5rem;
}
/* FAQ */

/* SAN PHAM */
.bestSeller-slider .owl-nav {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
}
.bestSeller-slider .owl-nav > button{
   background-color: #fff !important	;
   border: 1px solid #ddd !important	;
   border-radius: 50% !important	;
   width: 2rem !important	;
   height: 2rem !important	;
   position: absolute;	
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important	;
}
.bestSeller-slider .owl-nav > button:hover{
   transform: scale(1.5) !important;
    transition: all 0.3s ease !important;
    color: #000 !important	;	
}
.bestSeller-slider .owl-nav > button.owl-prev{
   left: -2% !important	;
}
.bestSeller-slider .owl-nav > button.owl-next{
   right: -2% !important	;
}
.bestSeller-slider .owl-nav > button > span{
   font-size: 1.2rem !important;
}
 input[type='radio'] {
    accent-color: var(--bs-primary);
}
 input[type='checkbox'] {
    accent-color: var(--bs-primary);
}
.bestSeller__content .btn-primary.icon{
   width: 2.5rem;
   height: 2.5rem;
   font-size: 14px;
}
#filterCollapse{
   pointer-events: none;
}
@media screen and (max-width : 768px) {
   #filterCollapse{
      pointer-events: auto;
   }
}
/* SAN PHAM */

/* TIN-TUC */
.btn__tintuc{
   border: none;
   border-bottom: 1px solid #000;
   padding: 0;
   transition: all 0.3s ease;

}
.btn__tintuc:hover{
   border-bottom: 1px solid var(--bs-primary);
}
.btn-primary.btn__circle{
   width: 2.5rem;
   height: 2.5rem;
}
/* TIN-TUC */